<% content_for :title, t(:other_groups) -%>

<h1><%= content_for :title %></h1>

<p>
  <span class="group_menu"><%= image_tag('group_add.png', :alt => t(:create_a_new_group)) %> <%= link_to t(:create_a_new_group), new_group_path %></span>
</p>
<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Creator</th>
    <th></th>
  </tr>

  <% @groups.each do |group| %>
    <tr class="<%= cycle('even','odd') %>">
      <td><%= image_tag('group.png') %></td>
      <td><%= link_to "#{group.name}", :action => 'show', :id => group %></td>
      <td class="group_name"><%= User.find_by_id(group.user_id).name %></td>
      <td>
        <%= link_to image_tag('edit.png', :alt => t(:edit)), edit_group_path(group), :title => t(:edit) %>&nbsp;
        <%= link_to image_tag('delete.png', :alt => t(:delete_item)), group_path(group), :method => :delete, :confirm => t(:are_you_sure), :title => t(:delete_item) %>
      </td>
    </tr>
  <% end %>
</table>