<% content_for :title, t(:home) -%>
<br/><br/>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>

    <td><%= image_tag @user.avatar.url(:small) %><br/>
      <% #follow %>
      <br/><br/>
      <% if @user.id == User.find(session[:user_id]).id %>
      <% else %>
        <% if Relationship.find_by_follower_id(User.find(session[:user_id]).id, :conditions => ["followed_id = '#{@user.id}'"]).nil? %>
          <%= button_to "Follow", :controller => 'relationships', :action => 'create', :id => @user.id %>
        <% else %>
          <%= button_to "Unfollow", :controller => 'relationships',  :action => 'destroy', :id => @user.id %>
        <% end %>
      <% end %>
    </td>
    <td><h2><%= @user.name %></h2></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><img src="/images/spacer.gif" WIDTH="2" HEIGHT="100""></td>
    <td>
      <table>
        <tr>
          <td><%=  t(:groups) -%></td>
          <td>&nbsp;&nbsp;</td>
          <td><%=  t(:microposts) -%></td>
          <td>&nbsp;&nbsp;</td>
          <td><%= t(:following) -%></td>
          <td>&nbsp;&nbsp;</td>
          <td><%= t(:followers) -%></td>
        </tr>
        <tr>
          <td><%=  @user.groups.count %></td>
          <td>&nbsp;&nbsp;</td>
          <td><%= @user.microposts.count %></td>
          <td>&nbsp;&nbsp;</td>
          <td><%= @user.following.count %></td>
          <td>&nbsp;&nbsp;</td>
          <td><%= @user.followers.count %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>


<br/><br/><hr/>
<div style="border-radius: 4px 4px 4px 4px;">
  <h2>Recent Microposts</h2>

  <div id="microposts">
    <%= render :partial => @microposts, :locals => { :list => true } %>
  </div>
  <br/>
  <br/>
</div>